:root {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
}

.header-nav {
  float: right;
  height: 68px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.header-nav a {
  margin-right: 10px;
  margin-left: 20px;
  text-decoration: underline;
  color: white;
}

.logo {
  height: 50px;
  margin: 9px auto 10px 10px;
  float: left;
}

.mission {
  height: 700px;
  width: 1200px;
  background-image: url("resources/img-mission-background.webp");
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.mission article {
  background-color: black;
}

h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h4 {
  margin-top: 16px;
  margin-bottom: 10px;
}

.tea-of-the-month h2 {
  margin-top: 80px;
}

.tea-of-the-month h4 {
  margin-top: 24px;
}

.flex img {
  width: 300px;
  height: 200px;
  margin-bottom: 0px;
}

.flex article h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.flex {
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 1000px;
  /* background-color: blue; */
}

.flex article {
  margin: 15px;
}

.locations .flex {
  max-width: 1200px;
  align-items: flex-start;
}

.locations .flex article {
  margin: 0 20px;
  background-color: black;
  opacity: 1;
  min-width: 300px;
}

.locations h2 {
  margin-top: 100px;
  margin-bottom: 0px;
}

.locations {
  display: inline-block;
  margin-top: 80px;
  height: 575px;
  width: 1200px;
  background-image: url(resources/img-locations-background.webp);
}

.contact-info {
  height: 200px;
}

footer {
  display: block;
  margin-left: 20px;
  text-align: left;
}
